@model WRA.Models.ReservationModel

@{
    ViewData["Title"] = "DeleteMeetingRes";
}

<h1>Verwijder reservering vergaderruimte</h1>

<h3>Weet je zeker dat je deze reservering wilt vrijgeven?</h3>
<div>
    <h4>Reservering verwijderen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Used)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Used)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkplaceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkplaceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNr)
        </dd>*@
    </dl>
    
    <form asp-action="DeleteMeetingRes">
        <input type="submit" value="Verwijder" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar reserveringen vergaderruimte</a>
    </form>
</div>
