@model IEnumerable<WRA.Models.ReservationModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht reserveringen vergaderruimtes</h1>

<p>
    <a asp-action="ReservationCreate">Aanmaken nieuwe vergaderruimte reservering</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ResDate)*@
                Datum van reserveren
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AmountPeople)*@
                Aantal personen
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StartTime)*@
                Starttijd
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EndTime)*@
                Eindtijd
            </th>
            <th>
                Vrijgeven
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ResDate.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPeople)
            </td>
            <td>
                @item.StartTime.ToString(@"hh\:mm")
            </td>
            <td>
                @item.EndTime.ToString(@"hh\:mm")
            </td>
            <td>
                @*@Html.ActionLink("Aanpassen", "EditMeetingRes", new {  id=item.id  }) |*@
                @Html.ActionLink("Vrijgeven", "DeleteMeetingRes", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
