@model IEnumerable<WRA.Models.WallOfShameModel>

@{
    ViewData["Title"] = "WallOfShame";
}

<h1>WallOfShame</h1>
<table class="table">
    <thead class="thead-light containerForm">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RoomNr)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
        </tr>
}
    </tbody>
</table>
